<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>escolha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-slides pager = 'true'>
  <ion-slide *ngFor = 'let foto of carro.fotos'>
    <img src="{{foto}}"/>
  </ion-slide>
</ion-slides>

<ion-item-group>
  <ion-item-divider color='warning'>
    Veículo
  </ion-item-divider>
  <ion-item> {{carro.nome}} </ion-item>
  <ion-item>R$ {{carro.preco}} </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color = 'primary'>
<ion-icon name = 'option'></ion-icon>
Acessórios
  </ion-item-divider>
  <ion-item *ngFor = 'let escolha of acessorios'>
    <ion-label>
      <h2>{{escolha.acessorio}}</h2> 
      <h4>R$ {{escolha.preco}}</h4>
    </ion-label> 
    <ion-toggle></ion-toggle>
  </ion-item>
</ion-item-group>

  <ion-item-divider color = 'danger'>
    Total: R$ 1000
  </ion-item-divider>


  <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button (click) = 'voltar()'>
      <ion-icon name='arrow-dropright'></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
